<% content_for :css do %>
  <%= stylesheet_link_tag    'people', media: 'all' %>
<% end %>
<% content_for :js do %>
  <%= javascript_include_tag 'people' %>
<% end %>
<!-- breadcrumb -->
<!-- 记得这里是span不能换行 -->
<div class="breadcrumb container">
  <span><a href="./xxx.html">Home</a></span><span>People</span>
</div>

<!-- title -->
<h1 class="container">People</h1>

<div class="catalog container">
  <a class="active">A</a><a>B</a><a>C</a><a>D</a>
</div>
<!-- 一排6个 -->
<div class="people container">
  <div class="person">
    <div class="thumbnail"><img src="http://project.isekai.me/ping/s1.jpeg" alt=""></div>
    <div class="name">Abhishek Agarwal</div>
    <div class="position">Graduate Student</div>
    <div class="email">abhia@mit.edu</div>
  </div>
  <div class="person">
    <div class="thumbnail"><img src="http://project.isekai.me/ping/s1.jpeg" alt=""></div>
    <div class="name">Abhishek Agarwal</div>
    <div class="position">Graduate Student</div>
    <div class="email">abhia@mit.edu</div>
  </div>
  <div class="person">
    <div class="thumbnail"><img src="http://project.isekai.me/ping/s1.jpeg" alt=""></div>
    <div class="name">Abhishek Agarwal</div>
    <div class="position">Graduate Student</div>
    <div class="email">abhia@mit.edu</div>
  </div>
  <div class="person">
    <div class="thumbnail"><img src="http://project.isekai.me/ping/s1.jpeg" alt=""></div>
    <div class="name">Abhishek Agarwal</div>
    <div class="position">Graduate Student</div>
    <div class="email">abhia@mit.edu</div>
  </div>
  <div class="person">
    <div class="thumbnail"><img src="http://project.isekai.me/ping/s1.jpeg" alt=""></div>
    <div class="name">Abhishek Agarwal</div>
    <div class="position">Graduate Student</div>
    <div class="email">abhia@mit.edu</div>
  </div>
  <div class="person">
    <div class="thumbnail"><img src="http://project.isekai.me/ping/s1.jpeg" alt=""></div>
    <div class="name">Abhishek Agarwal</div>
    <div class="position">Graduate Student</div>
    <div class="email">abhia@mit.edu</div>
  </div>
</div>
<div class="people container">
  <div class="person">
    <div class="thumbnail"><img src="http://project.isekai.me/ping/s1.jpeg" alt=""></div>
    <div class="name">Abhishek Agarwal</div>
    <div class="position">Graduate Student</div>
    <div class="email">abhia@mit.edu</div>
  </div>
  <div class="person">
    <div class="thumbnail"><img src="http://project.isekai.me/ping/s1.jpeg" alt=""></div>
    <div class="name">Abhishek Agarwal</div>
    <div class="position">Graduate Student</div>
    <div class="email">abhia@mit.edu</div>
  </div>
</div>
