<% content_for :css do %>
  <%= stylesheet_link_tag    'index', media: 'all' %>
<% end %>
<% content_for :js do %>
  <%= javascript_include_tag 'index' %>
<% end %>
<div class="banner container">
  <img src="http://project.isekai.me/ping/s1.jpeg" alt="" class="bg">
  <div class="content">
    <div class="t">
      <div class="title">An Interdepartmental Research Center</div>
      <div class="subtitle">Committed to Advancing the Analytical Information and Decision Sciences.</div>
    </div>
  </div>
</div>
<div class="block container p1">
  <div class="title">
    <div class="text">Upcoming LIDS Events</div>
    <div class="link"><a href="./xxx.html">See all Events</a></div>
  </div>
  <div class="content">
    <div class="d">
      <div class="t">MARCH</div>
      <div class="c"><b>7</b>th</div>
      <div class="p">
        <div>LIDS & Stats Tea</div>
        <div><b>Private Sequential Learning</b></div>
        <div>LIDS Lounge</div>
        <div>4:30pm</div>
      </div>
    </div>
    <div class="d">
      <div class="t">MARCH</div>
      <div class="c"><b>7</b>th</div>
      <div class="p">
        <div>LIDS & Stats Tea</div>
        <div><b>Private Sequential Learning</b></div>
        <div>LIDS Lounge</div>
        <div>4:30pm</div>
      </div>
    </div>
    <div class="d">
      <div class="t">MARCH</div>
      <div class="c"><b>7</b>th</div>
      <div class="p">
        <div>LIDS & Stats Tea</div>
        <div><b>Private Sequential Learning</b></div>
        <div>LIDS Lounge</div>
        <div>4:30pm</div>
      </div>
    </div>
  </div>
</div>

<div class="container p2">
  <div class="block p3">
    <div class="title">
      <div class="text">LIDS Research Highlights</div>
      <div class="link"><a href="./xxx.html">See all LIDS Highlights</a></div>
    </div>
    <div class="content">
      <div class="a">
        <div class="i">
          <img src="http://project.isekai.me/ping/s1.jpeg" alt="">
        </div>
        <div class="t">
          <div class="tt">Camera Control for Learning Nonlinear Target Dynamics via Bayesian Non-Parametric Dirichlet-Process Gaussian-Process (DPGP) Models</div>
          <div class="ttt">Mobile sensors are often deployed to cooperatively perform surveillance of an environment and track objects of interest: for example, intrusion detection throughout a secure facility, and anomaly detection in manufacturing plants. In many such cases it is infeasible to provide accurate sensor coverage of the entire environment, and thus an environment model and associated controller that accounts for sensor field-of-view (FoV) geometry is necessary to determine sensor configurations that minimize uncertainty.</div>
        </div>
      </div>
      <div class="a">
        <div class="i">
          <img src="http://project.isekai.me/ping/s1.jpeg" alt="">
        </div>
        <div class="t">
          <div class="tt">Camera Control for Learning Nonlinear Target Dynamics via Bayesian Non-Parametric Dirichlet-Process Gaussian-Process (DPGP) Models</div>
          <div class="ttt">Mobile sensors are often deployed to cooperatively perform surveillance of an environment and track objects of interest: for example, intrusion detection throughout a secure facility, and anomaly detection in manufacturing plants. In many such cases it is infeasible to provide accurate sensor coverage of the entire environment, and thus an environment model and associated controller that accounts for sensor field-of-view (FoV) geometry is necessary to determine sensor configurations that minimize uncertainty.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="block p4">
    <div class="title">
      <div class="text">LIDS News</div>
      <div class="link"><a href="./xxx.html">See all LIDS News</a></div>
    </div>
    <div class="content">
      <div class="a">
        <div class="i">
          <img src="http://project.isekai.me/ping/s1.jpeg" alt="">
        </div>
        <div class="t">
          <div class="tt">February 9, 2018</div>
          <div class="ttt">Suvrit Sra joins MIT faculty, continues as Principal Investigator at LIDS</div>
        </div>
      </div>
      <div class="a">
        <div class="i">
          <img src="http://project.isekai.me/ping/s1.jpeg" alt="">
        </div>
        <div class="t">
          <div class="tt">February 9, 2018</div>
          <div class="ttt">Suvrit Sra joins MIT faculty, continues as Principal Investigator at LIDS</div>
        </div>
      </div>
    </div>
  </div>
</div>
