 <div class="catalog" style="height: 100%;">
  <span><%= link_to 'Nice News', news_events_url, :style => 'color: #a40008' %></span><br><br>
  <span><%= link_to 'Event Calendar', calendar_events_url, :style => 'color: #a40008' %></span><br><br>
  <span><%= link_to 'NICE Seminar Series', nice_seminar_series_events_url, :style => 'color: #a40008' %></span><br><br>
  <span><%= link_to 'Conferences and Workshops', workshops_events_url, :style => 'color: #a40008' %></span><br><br>
</div>
