 <div class="catalog" style="height: 100%;">
  <span><%= link_to 'Software Information', software_resource_index_url, :style => 'color: #a40008' %></span><br><br>
  <span><%= link_to 'Hardware Information', hardware_resource_index_url, :style => 'color: #a40008' %></span><br><br>
</div>
