<% content_for :css do %>
  <%= stylesheet_link_tag    'about', media: 'all' %>
<% end %>
<% content_for :js do %>
  <%= javascript_include_tag 'about' %>
<% end %>
<div class="container">
  <%= image_tag 'about-page.jpg', :align => 'left', :width => "100%", :style => "padding: 20px 0 20px 0" %>
</div>

<!-- 记得这里是span不能换行 -->
<div class="breadcrumb container">
  <span><%= link_to 'Home', root_url %></span><span>About NICE</span>
</div>

<!-- title -->
<h1 class="container">About NICE</h1>

<!-- content -->
<div class="container">
  <article>
    <p>The Network Science Research Center in SIST is now focus on the convergence of Communication, Computing and Control.  Professors and students in this center have received numerous international academic awards during recent three years, including:</p>
    <p>● 2018 ACM Sigmobile Test-of-Time Paper Award</p>
    <p>● 2016 IEEE  Signal Processing Society Young Author Best Paper Award</p>
    <p>● 2016 IEEE Information Theory Society Best Paper Award</p>
    <p>● 2016 IEEE Guglielmo Marconi Best Paper Award</p>
    <p>● 2016 IEEE Globecom Best Paper Award</p>
    <p>● 2016 IEEE Eric Sumner Award</p>
  </article>

</div>
