<% content_for :css do %>
  <%= stylesheet_link_tag    'about', media: 'all' %>
<% end %>
<% content_for :js do %>
  <%= javascript_include_tag 'about' %>
<% end %>
<!-- 记得这里是span不能换行 -->
<div class="breadcrumb container">
  <span><%= link_to 'Home', root_url %></span><span><%= link_to 'About NICE', about_index_url %></span><span>Nice Research Highlights</span>
</div>

<!-- title -->
<h1 class="container">Nice Research Highlights</h1>

<!-- content -->

<div class="container with-catalog">
  <article>
    <p>This timeline serves as a snapshot of the contributions and breakthroughs of NICE researchers.</p>
    <div class="timeline">
      <div class="time">2016</div>
      <div class="desc">
        <p>
          <b>NICE established at Shanghaitech</b>
        </p>
      </div>
    </div>
        <div class="timeline">
      <div class="time">2017.01</div>
      <div class="desc">
        <p>
          <b>Data-Information Analysis Lab founded</b>
        </p>
      </div>
    </div>
        <div class="timeline">
      <div class="time">2017.07</div>
      <div class="desc">
        <p>
          <b>Intelligent IoT & Smart Data Lab ( iData Lab ) founded</b>
        </p>
      </div>
    </div>
  </article>

  <div class="catalog">
    <img src="http://project.isekai.me/ping/s1.jpeg" alt="">
    <div class="title">
      Further Reading
    </div>
    <p>Download Alan Willsky's NICE – A Brief History for a more in depth look at the history of the laboratory.
    </p>
    <p>For a more extensive discussion of the early development of NICE, download From Servo Loops to Fiber Nets.
    </p>
  </div>
</div>
