<div class="catalog" style="height: 100%;">
  <span><%= link_to 'Data-information Analysis Lab（DIAL）', dial_labs_url, :style => 'color: #a40008' %></span><br><br>
  <span><%= link_to 'intelligent to T & Smart Date Lab （Data）', data_labs_url, :style => 'color: #a40008' %></span><br><br>
</div>
