<% content_for :css do %>
  <%= stylesheet_link_tag    'about', media: 'all' %>
<% end %>
<% content_for :js do %>
  <%= javascript_include_tag 'about' %>
<% end %>
<!-- 记得这里是span不能换行 -->
<div class="breadcrumb container">
  <span><%= link_to 'Home', root_url %></span><span>Labs and Groups
</div>

<!-- title -->
<h1 class="container">Labs and Groups</h1>

<!-- content -->
<div class="container with-catalog">
  <article>
    <p>Within NICE there are several distinct labs and groups whose work focuses on a specific set of complex problems within a field.</p>
    <p>This research spans from wireless communications and autonomous systems to network architectures and statistical inference. The groups are helmed by NICE faculty and include researchers, post-docs and students both from NICE and other labs and departments within SIST.</p>

  </article>

  <%= render 'sidebar' %>

</div>
