<div class="catalog" style="height: 100%;">
  <span><%= link_to 'Systems, Networks, and Control', communications_research_index_url, :style => 'color: #a40008' %></span><br><br>
  <span><%= link_to 'Communications, transmission of information, and Networks', control_research_index_url, :style => 'color: #a40008' %></span><br><br>
  <span><%= link_to 'Inference & Statistical Data Processing', inference_research_index_url, :style => 'color: #a40008' %></span><br><br>
  <span><%= link_to 'Research Highlights', research_index_url, :style => 'color: #a40008' %></span><br>
</div>
