<div class="catalog" style="height: 100%;">
  <span><%= link_to 'Research Highlights', result_research_index_url, :style => 'color: #a40008' %></span><br><br>
  <span><%= link_to 'Research Archive', result_research_index_url, :style => 'color: #a40008' %></span><br><br>
  <span><%= link_to 'Event Calendar', events_url, :style => 'color: #a40008' %></span><br><br>
</div>
