<% content_for :css do %>
  <%= stylesheet_link_tag    'about', media: 'all' %>
<% end %>
<% content_for :js do %>
  <%= javascript_include_tag 'about' %>
<% end %>
<!-- 记得这里是span不能换行 -->
<div class="breadcrumb container">
  <span><%= link_to 'Home', root_url %></span><span>Research
</div>

<!-- title -->
<h1 class="container">Research</h1>

<!-- content -->
<div class="container with-catalog">
  <article>
<p>NICE research, while grounded in certain established disciplines, is predominantly of a multidisciplinary nature. It also spans the full range from fundamental research and the development of new methodologies, to applications of major significance.</p>

<h3>CORE ENGINEERING DISCIPLINES:</h3>
<p>Much of the research in NICE revolves around the core disciplines of:</p>
<p><b>· Fog Computing</b></p>
<p><b>· Cloud Computing</b></p>
<p><b>· Distributed System</b></p>
<p><b>· Converge of communication，Computing and Control</b></p>
<p><b>· Date-Driven intelligent Network Design</b></p>
<p><b>· Big-Data Analytics</b></p>
<p><b>· Network information Theory</b></p>
<p><b>· Network Optimzation</b></p>
<p><b>· Research Highlights</b></p>
<p><b>· Research Archive</b></p>
<p><b>· Event Calendar</b></p>
 
<h3>APPLICATION DOMAINS:</h3>
<p>Research in NICE addresses and is driven by broad challenges, emerging applications, critical needs, and intellectual opportunities for technological advances. Active areas include:</p>
<p>· Biological systems and bio-medical data analysis.</p>
<p>· Coordination of unmanned autonomous systems.</p>
<p>· Energy information systems</p>
<p>· Intelligence, surveillance, and reconnaissance (ISR) systems.</p>
<p>· Large-scale data assimilation for the geosciences</p>
<p>· Network scheduling and routing</p>
<p>· Sensor networks</p>
<p>· Social network analysis and characterization</p>
<p>· Ultra-wideband and other emerging communications technologies</p>

  </article>

  <%= render 'sidebar' %>
</div>
