<% content_for :css do %>
<%= stylesheet_link_tag    'research', media: 'all' %>
<% end %>
<% content_for :js do %>
<%= javascript_include_tag 'research' %>
<% end %>
<!-- 记得这里是span不能换行 -->
<div class="breadcrumb container">
  <span><%= link_to 'Home', root_url %></span><span>Research
</div>

<!-- title -->
<div class="container with-catalog">
  <article>
<p>NICE research, while grounded in certain established disciplines, is predominantly of a multidisciplinary nature. It also spans the full range from fundamental research and the development of new methodologies, to applications of major significance.</p>
<h3>CORE DISCIPLINES:</h3>
<p>Much of the research in NICE revolves around the core disciplines of:</p>
<p>● Information Theory</p>
<p>● Networking</p>
<p>● Signal Processing</p>
<p>● Optimization and Statistics</p>
<p>More often than not, research activities involve a combination of these disciplines. NICE‘s research builds on the knowledge base of these disciplines.</p>
 
<h3>UNDERLYING METHODOLOGIES:</h3>
<p>NICE’s research relies on the analytical foundations provided by various mathematical disciplines, such as probability and statistics, dynamic systems, and optimization and decision theory. It also strives to advance these foundations along new directions, relevant to emerging engineering problems. </p>
 
<h3>APPLICATION DOMAINS:</h3>
<p>Research in NICE addresses and is driven by broad challenges, emerging applications, critical needs, and intellectual opportunities for technological advances. Active areas include:</p>
<p>● Fog Computing</p>
<p>● Cloud Computing</p>
<p>● Distributed System</p>
<p>● Converge of Communication, Computing and Control</p>
<p>● Data-Driven Intelligent Network Design</p>
<p>● Big-Data Analytics</p>
<p>● Network Information Theory</p>
<p>● Network Optimization</p>
<p>● Network Control</p>
<p>● Machine Learning and Statistics</p>


  </article>
  <%= render 'sidebar' %>
</div>
