<footer class="container">
  <ul class="links">
<!--     <li><a href="./xxx.html">menu1</a></li>
    <li><a href="./xxx.html">menu2</a></li>
    <li><a href="./xxx.html">menu3</a></li>
    <li><a href="./xxx.html">menu4</a></li>
    <li><a href="./xxx.html">menu5</a></li> -->
  </ul>
  <div class="info">
    ShanghaiTech University. <br>
    393 Middle Huaxia Road, Pudong, Shanghai, 201210
  </div>
  <div class="info">
    Copyright © 2014-2017 上海科技大学 版权所有　沪ICP备13001436号
  </div>
</footer>
