<footer class="container">
  <ul class="links">
<!--     <li><a href="./xxx.html">menu1</a></li>
    <li><a href="./xxx.html">menu2</a></li>
    <li><a href="./xxx.html">menu3</a></li>
    <li><a href="./xxx.html">menu4</a></li>
    <li><a href="./xxx.html">menu5</a></li> -->
  </ul>
  <div class="info">
    地址：上海市浦东新区华夏中路393号 邮编：201210；<br>上海市徐汇区岳阳路319号8号楼 邮编：200031（岳阳路校区）
  </div>
  <div class="info">
    Copyright © 2014-2017 上海科技大学 版权所有　沪ICP备13001436号
  </div>
</footer>
